@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body{
        font-family: 'Inter', sans-serif;
        background-color:  hsl(232, 19%, 15%);
    }

    body.active{
        background-color: hsl(0, 0%, 100%);
    }
    header{
        display: flex;
        justify-content: space-between;
        background: hsl(228, 28%, 20%);
        padding: 3% 13% 11% 13%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;   
    }
    header.active{
        background-color:hsl(227, 47%, 96%);
    }
    header.active .follower{
        color: hsl(228, 12%, 44%);
    }
    
    header.active .theme{
        color: hsl(228, 12%, 44%);
    }

    h1{
         color:  hsl(0, 0%, 100%);
         font-size: 25px;
    }
    #num.active{
        color:hsl(230, 17%, 14%);
    }
    #num1.active{
        color:hsl(230, 17%, 14%);
    }
    #num2.active{
        color:hsl(230, 17%, 14%);
    }
    #num3.active{
        color:hsl(230, 17%, 14%);
    }
    #num4.active{
        color:hsl(230, 17%, 14%);
    }
    #num5.active{
        color:hsl(228, 12%, 44%);
    }

    .follower{
        font-size: 13px;
        margin-top: 3px;
        font-weight: 700;
    }
    .theme{
        font-size: 13px;
        display: flex;
        font-weight: 700;
    }
    #toggle{
        width: 40px;
        height: 20px;
        margin-left: 10px;
        margin-top: -1px;
        border-radius: 160px;
        background-image:linear-gradient(hsl(210, 78%, 56%) , hsl(146, 68%, 55%)) ;
        transition: 0.5s;
    }
    #toggle .toggle-icon{
        position: absolute;
        top: 39px;
        right: 194px;
        background-color: hsl(232, 19%, 15%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transform: scale(0.9);
        cursor: pointer;
        transition: 0.5s;
    }
    #toggle.active .toggle-icon{
        right: 176px;
        background-color: hsl(0, 0%, 100%);
        
    }
    .color{
        color: hsl(228, 34%, 66%);
    }
 
    .body-content{
        margin: 0 13%;
    }
    .first{
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    .box{
        background-color: hsl(228, 28%, 20%);
        width: fit-content; 
        padding: 25px 60px;
        border-radius: 5px;
        margin-top: -9%;
        text-align: center;
    }
    #box.active .nf{
        color:hsl(230, 17%, 14%);
    }
    #box.active .followers{
        color: hsl(228, 12%, 44%);
    }
    #box.active{
        background-color: hsl(227, 47%, 96%);
    }
    #box.active:hover{
       background-color: hsl(219, 35%, 90%);
    }
    #box2.active{
        background-color: hsl(227, 47%, 96%);
    }
    #box2.active .nf{
        color: hsl(230, 17%, 14%);
    }
    #box2.active .followers{
        color: hsl(228, 12%, 44%);
    }
    #box2.active:hover{
        background-color: hsl(219, 35%, 90%);
     }
    #box3.active{
        background-color: hsl(227, 47%, 96%);
    }
    #box3.active .nf{
        color:hsl(230, 17%, 14%);
    }
    #box3.active .followers{
        color: hsl(228, 12%, 44%);
    }
    #box3.active:hover{
        background-color: hsl(219, 35%, 90%);
     }
    #box4.active{
        background-color: hsl(227, 47%, 96%);
    }
    #box4.active .nf{
        color: hsl(230, 17%, 14%);
    }
    #box4.active .followers{
        color: hsl(228, 12%, 44%);
    }
    #box4.active:hover{
        background-color: hsl(219, 35%, 90%);
     }
    .box:hover{
        background-color: hsl(230, 18%, 32%);
    }

    .facebook{
        border-top: 4px solid hsl(208, 92%, 53%);  
    }
    .icon-fb{
        color: hsl(208, 92%, 53%);
    }
    .twitter{
        border-top: 4px solid hsl(203, 89%, 53%);
    }
    .icon-tw{
        color: hsl(203, 89%, 53%);
    }
    .instagram{
        border-top: 4px solid;
        border-image: linear-gradient(to right, #fccc63,#cd486b) 1 0 0 0;
    }
    .icon-ig{
        color: transparent;
        background: linear-gradient(to right, hsl(37, 97%, 70%) , hsl(329, 70%, 58%));
        -webkit-background-clip: text;
        
    }
    .youtube{
        border-top:4px solid hsl(348, 97%, 39%); 
        padding: 25px 50px;
    }
    .icon-yt{
        color: hsl(348, 97%, 39%);
    }
    .nf{
        font-size: 12px;
        margin:0 2px 15px 0;
        font-weight: 700;
    }
    .icon{
        margin-right: 7px;
        font-size: 19px;
        position: relative;
        top: 3px;
    }
    .num{
        font-size: 40px;
    }
    .followers{
        font-size: 11px;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    .green{
        color:  hsl(163, 72%, 41%);
        font-size: 10px;
        font-weight: 700;
    }
    .red{
        color: hsl(348, 97%, 39%);
        font-size: 10px;
        font-weight: 700;
    }
    .overview{
        margin-bottom: 20px;
        font-size: 21px;
    }
    .second{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #second.active .small-box{
        background-color: hsl(227, 47%, 96%);
    }
    #second.active .small-box:hover{
        background-color:hsl(219, 35%, 90%);;
    }
    #second.active .small-box .number{
        color: hsl(230, 17%, 14%);
    }
    .small-box{
        background-color: hsl(228, 28%, 20%);
        width: 22.3%;
        border-radius: 5px;
        margin: 1.2%  0;
    }
    .small-box:hover{
        background-color: hsl(230, 18%, 32%);
    }
    img{
        margin-right: 5px;
    }
    .img{
        position: relative;
        top: -1px;
    }
    .number{
        color: hsl(0, 0%, 100%);
        font-weight: 700;
        font-size: 22px;
        margin-right: 150px;
    }

    .text{
        color: hsl(228, 34%, 66%);
        font-size: 12px;
        font-weight: 700;
        padding-bottom: -30px;
        display: flex;
        justify-content: space-between;
        padding: 30px 80px;
    }
    .par{
        margin-left: -60px;
        margin-top: -10px;
    }
    #second.active .small-box .par{
        color: hsl(228, 12%, 44%);
    }
    .icon-second{
        margin-top: -14px;
        margin-right: -58px;
    }
    
    .end{
        padding-bottom: 15px;
    }
    .number{
        margin-left: 18px;
        padding-bottom: 10px;
    }
    .percentage{
        margin-left: -30px;
    }
    .percentage-2{
        margin-left: -72px;
    }
    .percentage-3{
        margin-left: -55px;
        margin-top: -20px;
    }
    .percentage-4{
        margin-left: -40px;
    }
    .percentage-5{
        margin-left: -45px;
    }
    .percentage-6{
        margin-left: -40px;
    }
    .percentage-7{
        margin-left: -55px;
    }
    .box-1{
        margin-right: 10px;
        margin-left: 12px;
    }
    .box-2{
        margin-right: 20px;
    }
    .bg-light{
         background-color: hsl(227, 47%, 96%);
    } 
    .attribution { 
        margin-top: 50px;
        font-size: 11px; text-align: center; 
        color: hsl(0, 0%, 100%);
    }

    body.active .attribution{
        color: hsl(230, 17%, 14%);
    }
   
    .attribution a {
         color: hsl(228, 45%, 44%);
    }